{% extends "base.html" %}

{% block title %} Simple Boilerplate {% endblock %}


{% block container_content %}	

        <div class="page-header">
          <h1>About Us</h1>
        </div>
        <div class="row">
          <div class="span8">
		    <h2>Boilerplate</h2>
			<p> A framework for rapidly deploying extensible scaffolding to App Engine.  </p>
		    <h3>The Team</h3>
            <p> We're developers interested in using our powers, meager as they may be, for good. </p>
            <h3> Terms and Conditions </h3>
            <p> Use at your own risk: correctness, consistency, and availability of this system are not warrantied in any way. </p>
            <h3> Privacy </h3>
            <p>  We're not going to request, collect, or save any personally identifiable information about you.  Some results may be cached to allow other users
                 to discover stuff serendipitously. </p>
            <h3> Follow Us On Twitter </h3>
            <p> <a href="https://twitter.com/#!/IdentityAssoc"> <img src="static/images/twitter.png" alt="twitter" target="_blank" border=0 height=50 width=50 /></p> </a>
          </div>
          <div class="span4">
            <h3>Thanks To:</h3>
            <p> <small> <a href="https://developers.google.com/appengine/"> Google App Engine </a> </small> </p>
            <p> <small> <a href="http://twitter.github.com/bootstrap/"> Bootstrap, from Twitter  </a> </small> </p>		
			<p> <small> <a href="http://jquery.com/"> JQuery </small>  </a> </p>
          </div>
        </div>


{% endblock %}
