{% extends "base.html" %}

{% block title %} Admin {% endblock %}

{% block container_content %}

        <div class="page-header">
          <h2>admin page</h2>
        </div>

<div class="row">
  <div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header"> Menu </li>
        <li><a href="#"><i class="icon-home"></i> Dashboard</a> </li>
        <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">{{msg_count}}</span></a> </li>
        <li><a href="#"><i class="icon-user"></i> Users </a> </li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-comment"></i> Settings </a></li>
    </ul>
  </div>
</div>

<div class="span1">

</div>

          <div class="span3">
            <h3> counters </h3>
            <p> {{ counters }} </p>
          </div>

          <div class="span3">
            <h3>cache statistics</h3>
            <p> {{ stats }} </p>
          </div>

          <div class="span3">
            <h3>errors</h3>
            <p> {{ errors }} </p>
          </div>
        </div>

{% endblock %}