{% extends "base.html" %}

{% block title %} Mytfaves Problem {% endblock %}

{% block container_content %}

        <div class="page-header">
          <h1>Oh Snap. A problem.</h1>
        </div>
        <div class="row">
          <div class="span8">
            <h2> Details </h2>
            <div class="alert alert-error">
            <p> {{ usermsg }}</p>
            <p> {{ badpath }} </p>
            <p> {{ traceback|linebreaks }} </p>
            </div>
          </div>
          <div class="span4">
            <h3>Staff Notified</h3>
            <p> <small> Problem details have been logged and the issue will be reviewed ASAP.</small></p>
          </div>
        </div>

{% endblock %}