{% extends "base.html" %}

{% block title %} GAE-BP {% endblock %}


{% block container_content %}

    <div class="page-header">
      <h1> Google App Engine Boilerplate <br/> <small> Yes, another one... </small></h1>
    </div>

	<div class="row">

    <div class="span6">
    This boilerplate system runs on Google's App Engine infrastructure, using Python 2.7, WebApp2, and Twitter Bootstrap.
    <br/>
    <br/>
    It uses Mozilla Persona for authentication.
    </div>

    <div class="span6">
    </div>

	</div>

{% endblock %}
