{% extends "base.html" %}

{% block title %} GAE Persona Signin {% endblock %}

{% block container_content %}

  <div class="page-header">
    <h3> Google App Engine Persona Sample <br/> <small> Signin </small></h3>
  </div>

  <div class="row">

    <div class="span6">
      <p>  Mozilla Persona.  </p>
      <p> "Sign into sites across the Web quickly and easily with a single email of your choice." </p>
      <p>
        For more information about Persona, Mozilla's implementation of Browser ID for secure authentication,
        see: <a href="https://www.mozilla.org/en-US/persona/">Persona</a> </p>
    </div>


    <div class="span6">
        <img id="signin" src="static/images/persona_sign_in_blue.png"/>
    </div>

  </div>

{% endblock %}

